#button-area {
    margin-top: 5px;
    margin-bottom: 30px;
}

.sport-button {
    margin-top: 10px;
    margin-right: 10px;
}

.col-md-4 {
    padding-bottom: 30px;
}

.row > .col-md-9 {
    margin-bottom: 15px;
}

#search-area {
    margin-bottom: 30px;
}

.capitalize {
    text-transform: capitalize;
}

.hidden {
    display: none;
}